@import "tailwindcss";

@font-face {
  font-family: "Regular";
  src: url("/fonts/Bellefair/Bellefair-Regular.ttf");
}
@font-face {
  font-family: "Humane-Semibold";
  src: url("/fonts/humane/Humane-Semibold.ttf");
}
@font-face{
  font-family: 'Poppins-Light';
  src: url('/fonts/Poppins/Poppins-Light.ttf');
}
:root {
  --background: #010101;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-regular: "Regular";
  --font-humane-semibold: "Humane-Semibold";
  --font-poppins-light: "Poppins-Light";
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-regular);
  
}


@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-between {
  @apply flex flex-col items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}
@utility flex-end {
  @apply flex items-end justify-end;
}
@utility text-large-max{
  @apply text-4xl md:text-4xl lg:text-6xl xl:text-7xl 2xl:text-8xl uppercase;
}



@layer components {
   .bg-image {
    @apply min-h-screen bg-[url("/images/hero.png")] bg-cover bg-no-repeat bg-top;
  }

  header {
    @apply w-screen fixed top-0 left-0 z-50 flex-center min-h-[7vh];

    nav {
      @apply container mx-auto flex-center px-0 md:px-5 2xl:px-0;

      ul {
        @apply w-full flex-end  md:flex-center md:gap-12;

        a {
          @apply hidden md:block text-white opacity-80 font-regular text-xl cursor-pointer hover:opacity-100 transition-all duration-300 ease-in-out py-10 uppercase;
        }
        .hamburger-menu {
          @apply  md:hidden flex-end px-5;
        }
        
      }
    }
  }
  #hero {
  @apply min-h-screen md:h-screen col-center overflow-hidden;

  
  .image-hero {
    @apply  absolute md:inset-y-0 w-64 h-46 md:w-full md:h-full max-w-350 md:max-h-140 xl:max-h-160 2xl:max-h-200 object-cover p-0 md:px-36;
  }
    .text-hero {
      @apply relative  z-10 flex flex-col w-full md:mt-0 mt-22 md:flex-between px-6 md:px-16 gap-2;
      .hero-left-text {
        @apply w-1/4 md:w-1/2 lg:w-1/2 2xl:w-1/4 mr-auto;
      }
       .hero-right-text {
        @apply w-3/4  md:w-1/2 lg:w-1/2 2xl:w-1/4 ml-auto;
      }

      h1 {  
        @apply text-large-max w-full;
      }

    }
  }
  #about {
    @apply h-screen relative items-center justify-between flex flex-col gap-12 w-full overflow-hidden px-0 md:px-16 pt-12;
    .upper-content {
      @apply flex flex-col md:flex-row md:items-center gap-12 md:gap-18 w-full p-6;
    }
    .statue-title {
      @apply relative flex z-10 text-large-max leading-tight tracking-wide max-w-sm md:max-w-md;
    }
    .statue-frame {
    @apply relative flex justify-center items-center 
         w-full max-w-lg mx-auto
         min-h-[240px] sm:min-h-[320px] md:min-h-[380px] lg:min-h-[450px]
         z-10;
      .statue-image {
       @apply w-full aspect-[3/4] max-h-[600px] min-h-[300px];
        canvas {
          @apply touch-none;
        }
      }

      .frame-line {
        @apply absolute bg-white/60;
      }

      .frame-line.top {
        @apply top-0 left-4 h-px w-full;
      }

      .frame-line.bottom {
        @apply bottom-0 -left-6 h-px w-full;
      }

      .frame-line.left {
        @apply top-4 left-0 w-px h-full;
      }

      .frame-line.right {
        @apply -top-6 right-0 w-px h-full;
      }

   }
    
    .bg-box {
      @apply absolute top-0 left-0 md:left-14 w-full h-full;
      .left-box {
        @apply absolute z-8 top-0 left-0 w-1/2 md:w-1/6 h-full bg-black;
      }
      .middle-box {
        @apply absolute z-6 top-32 md:top-18 left-0 w-sm md:w-full max-w-md md:max-w-full h-1/2 md:h-1/4 bg-black/50;
      }
    }

    
    
    .statue-description {
      @apply relative z-10 bg-black w-full text-lg text-white/80 leading-relaxed font-poppins-light top-0 md:-top-24;
    } 
  }

  
  #events {
    @apply min-h-screen h-screen max-h-screen flex flex-col justify-center p-8 md:px-20 py-18 gap-6 overflow-hidden;
    h1 {
      @apply text-large-max underline-offset-2 md:underline;
    }
    .event-section {
      @apply flex flex-col gap-4 w-full uppercase;
      .event-item {
        @apply relative w-full h-62 md:h-120 overflow-hidden;
      }
      .text-event-detail {
        @apply absolute bottom-8 left-6 z-10 flex-center gap-6;
      }
      img {
        @apply w-full h-full object-cover;
      }
      h2{
        @apply text-4xl md:text-8xl;
      }
      h3{
        @apply text-xl md:text-2xl;
      }
      .desc-event{
        @apply text-sm text-wrap;
      }
      .img-gradient {
       @apply absolute inset-0 bg-linear-to-t from-black/80 via-black/60 to-transparent 
      }
    }
    .utils-event {
      @apply flex-between w-full;
    }
    .left-utils {
      @apply w-32 md:w-48 h-2 bg-white/20 rounded-full relative overflow-hidden;
    }
    .right-utils {
      @apply flex items-center gap-4;
      h3{
        @apply text-sm;
      }
    }
    .arrows {
      @apply flex items-center justify-center gap-2;
    }
    .arrow{
        @apply p-2 md:p-4 bg-white/20 backdrop-opacity-100 rounded-full size-8 md:size-12 hover:cursor-pointer hover:bg-white/30 transition-all duration-300 ease-in-out;
      }
  }
  #statue-grid {
    .gallery-wrap {
      @apply relative w-full h-screen flex items-center justify-center overflow-hidden;
    }
    .gallery {
      @apply relative w-full h-full flex-none;
    }
    .gallery__item {
      @apply relative flex-none;
    }
  }
}

/* css element that cant inside the component for gsap to work */
  .gallery--final.gallery--bento {
    grid-template-columns: repeat(3, 100vw);
    grid-template-rows: repeat(4, 49.5vh);
    gap: 1vh;
  }
